body {
  padding: 0;
  margin: 0;
}

header {
  width: 70%;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 70%;
  margin: 0 auto;
}

.logo {
  width: fit-content;
  margin: 40px 0;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  width: 100%;
}

#cards {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
}

#news {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 100px;
}

.news-container {
  width: 100%;
  flex: 2;
}

.poll-container {
  flex: 1;
  height: fit-content;
}

.poll-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.poll-form div {
  display: flex;
  gap: 20px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.f-review-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
}

.f-review-container img {
  height: 100%;
  width: 66%;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  width: 33%;
}

#products {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.prod-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10%;
}

.prod-full {
  width: 100%;
}

.prod-info {
  width: 50%;
}

.prod-info form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prod-info form div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.sim-prod-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

#reviews-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#reviews {
  display: flex;
  flex-direction: column;
}

.review {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.review-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.review-left img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
}

.review-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-title h2,
.review-title h3 {
  width: 100%;
  margin: 0;
}

.review-content {
  width: 100%;
}

#show-all-btn {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  main,
  header {
    width: 95vw;
  }

  #cards,
  #news {
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
  }

  .footer-top,
  .f-review-container {
    justify-content: space-evenly;
    gap: 10px;
  }

  .review-left img {
    margin-left: 0px;
  }

  .sim-prod-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
  }

  .sim-prod-gallery img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  #products {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
  }

  .prod-gallery {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
  }

  .prod-info {
    width: 100%;
  }
}
