:root {
  --primary-color: #c5110b;
  --secondary-color: #000;
  --tertiary-color: #333333;
  --accent-color: #999999;
  --accent-text: #555555;
  --primary-font: "Arial", sans-serif;
  --secondary-font: "Iceberg", sans-serif;
  --tertiary-font: "Damion", cursive;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

html {
  font-family: var(--primary-font);
  box-sizing: border-box;
  background-color: #eeeeee;
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 50vw;
  margin: 0 auto;
}

main {
  width: 50vw;
  margin: 0 auto;
}

h2 {
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}

.logo {
  width: fit-content;
  margin: 1rem;
}

.logo h1 {
  font-family: var(--tertiary-font);
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
}

.logo p {
  color: #333333;
  margin-top: 0;
  font-size: 11px;
  top: -11px;
  position: relative;
  text-align: right;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--accent-color);
}

nav a {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  border-right: 1px solid;
  color: var(--accent-text);
  text-decoration: none;
  font-weight: bold;
  border-image: linear-gradient(
      to bottom,
      transparent 25%,
      var(--accent-color) 25%,
      var(--accent-color) 75%,
      transparent 75%
    )
    1;
}

nav a:last-child {
  border-right: none;
}

nav a:hover {
  color: var(--primary-color);
}

nav a.active {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.banner img {
  background-color: var(--accent-color);
  padding-bottom: 10px;
  width: 100%;
}

.caption {
  font-family: var(--secondary-font);
  font-size: 26px;
  color: var(--accent-text);
  text-align: center;
  padding: 0 75px;
}

.spacer {
  border-bottom: 2px solid var(--accent-color);
  width: 100%;
  margin-bottom: 50px;
}

#cards {
  width: 100%;
  display: flex;
  gap: 15px;
  color: var(--tertiary-color);
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
  box-shadow: 3px 3px 3px var(--accent-color);
}

.card h2 {
  margin-bottom: 0;
}

.card p {
  font-size: 12px;
  padding: 0 5px 5px 5px;
}

#news {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 100px;
}

.news-container {
  width: 100%;
  flex: 2;
}

.news-item {
  padding: 3px;
}

.news-item h3 {
  margin-bottom: 0;
  font-size: 16px;
  color: #a79595;
}

.news-item p {
  font-size: 14px;
  padding: 3px;
  margin-bottom: 0;
}

.date {
  text-align: right;
  font-size: 12px;
  color: var(--primary-color);
  margin: 0;
}

.poll-container {
  flex: 1;
  background-color: white;
  padding: 0 20px;
  height: fit-content;
}

.poll-question {
  color: var(--primary-color);
}

.poll-form {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  gap: 30px;
  margin-bottom: 40px;
  font-size: 14px;
}

.poll-form div {
  display: flex;
  gap: 20px;
}

.poll-container p {
  font-size: 14px;
}

footer h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin: 0;
  color: var(--primary-color);
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  padding: 25px 25vw;
  color: var(--primary-color);
}

.footer-top img {
  height: 200px;
}

.footer-top p {
  font-size: 13px;
  color: var(--primary-color);
  padding-left: 3px;
  font-weight: bold;
}

.footer-top a {
  color: var(--primary-color);
}

.f-review {
  width: 33%;
}

.f-review-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  flex: 3;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25vw 100px 25vw;
  font-size: 12px;
  background-color: #c5110b;
  font-weight: bold;
}

.footer-bottom a {
  color: black;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #ffffff;
}

.links {
  flex: 1;
}
